.hidden {
  display: none !important;
}

.container {
  padding: 0 1.5rem;
}

.container,
.header-text {
  max-width: 575px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

li > .row {
  align-items: center;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container,
  .header-text {
    max-width: 900px;
  }

  .header-text {
    padding: 10px 2.25rem;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
