.header-container {
  padding: 0;
  background-color: #562b81;
}

.header-text {
  color: white;
  padding: 10px 1.5rem;
  font-weight: 100;
}

.placeholder-image {
  max-width: 100%;
}

label {
  display: inline-block;
  margin: 20px 0 5px;
  font-weight: 600;
}

input,
textarea {
  width: 100%;
}

.save-container {
  display: flex;
  justify-content: flex-end;
}

.save-button {
  background-color: #562b81;
  color: white;
  width: 60px;
  padding: 5px 0;
  margin: 15px 0;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .header-text {
    padding: 10px 2.25rem;
  }
}
